In [1]:
!pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py) ... - \ done
Requirement already satisfied: requests<3.0,>=2.20.0 in /opt/conda/lib/python3.10/site-packages (from googlemaps) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2024.2.2)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... - \ | done
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40711 sha256=0424b071df6c2c124726d8c7317922096769ddf75fd61fb378ff99a742469b83
  Stored in directory: /root/.cache/pip/wheels/17/f8/79/999d5d37118fd35d7219ef57933eb9d09886c4c4503a800f84
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0

In [2]:
import requests
import numpy as np 
import pandas as pd
import os
import googlemaps
from datetime import datetime
import urllib.parse

for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/indonesia-food-delivery-gofood-product-list/gofood_dataset.csv

# Gathering Data

In [3]:
df = pd.read_csv("/kaggle/input/indonesia-food-delivery-gofood-product-list/gofood_dataset.csv", delimiter=",")

In [4]:
df.head()

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...

# Acessing Data

In [5]:
df.isnull().sum()

merchant_name         0
merchant_area         0
category              0
display               0
product               0
price                 0
discount_price    42457
isDiscount            0
description       23475
dtype: int64

Masih nyatu untuk 1 nama merchant

In [6]:
df.duplicated().sum()

5547

# 1. Penyatuan Satu Merchant dan Rata Rata Harga 1 Merchant

### Filter Hanya Jakarta

In [7]:
df_jakarta = df[df['merchant_area'] == 'jakarta']
df_jakarta.head()

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...

In [8]:
df_jakarta = df_jakarta.drop(['display', 'product', 'discount_price', 'isDiscount', 'description'], axis="columns")
df_jakarta.head()

       merchant_name merchant_area           category    price
0  330 Kopi, Ciledug       jakarta  Kopi/Minuman/Roti  20000.0
1  330 Kopi, Ciledug       jakarta  Kopi/Minuman/Roti  22000.0
2  330 Kopi, Ciledug       jakarta  Kopi/Minuman/Roti  20000.0
3  330 Kopi, Ciledug       jakarta  Kopi/Minuman/Roti  20000.0
4  330 Kopi, Ciledug       jakarta  Kopi/Minuman/Roti  22000.0

### Quartil dan Jumlah Quartil

In [9]:
grouped = df_jakarta.groupby(['merchant_name', 'merchant_area', 'category'])['price'].apply(list).reset_index()
grouped.head()

,merchant_name,merchant_area,category,price
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,"[20000.0, 22000.0, 20000.0, 20000.0, 22000.0, ..."
1,"Abe Steak, Cibubur",jakarta,Aneka nasi/Minuman/Barat,"[70000.0, 33000.0, 105000.0, 100000.0, 90000.0..."
2,"Abuba Steak, Cikarang",jakarta,Barat,"[13200.0, 35200.0, 35200.0, 49500.0, 39600.0, ..."
3,Aneka Gorengan Siaga,jakarta,Jajanan/Minuman,"[1500.0, 1500.0, 1500.0, 1500.0, 1500.0, 1500...."
4,Arangsimpur,jakarta,Chinese,"[34000.0, 39000.0, 48000.0, 48000.0, 6000.0, 2..."

In [10]:
def calculate_quartiles(row):
    values = sorted(row['price'])
    q1 = pd.Series(values).quantile(0.25)
    q2 = pd.Series(values).quantile(0.50)
    q3 = pd.Series(values).quantile(0.75)
    
    q1_count = sum(1 for v in values if v <= q1)
    q2_count = sum(1 for v in values if q1 < v <= q2)
    q3_count = sum(1 for v in values if q2 < v <= q3)
    q4_count = sum(1 for v in values if v > q3)
    
    return pd.Series({
        'Q1': q1,
        'Q2': q2,
        'Q3': q3,
        'Q1_count': q1_count,
        'Q2_count': q2_count,
        'Q3_count': q3_count,
        'Q4_count': q4_count
    })

# Apply the function to each row in the grouped dataframe
quartiles = grouped.apply(calculate_quartiles, axis=1)

# Combine the results with the grouped dataframe
result = pd.concat([grouped, quartiles], axis=1)

In [11]:
# df_jakarta_quartilize = result.drop('price', axis='columns')
df_jakarta_quartilize = result
df_jakarta_quartilize.head()

,merchant_name,merchant_area,category,price,Q1,Q2,Q3,Q1_count,Q2_count,Q3_count,Q4_count
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,"[20000.0, 22000.0, 20000.0, 20000.0, 22000.0, ...",20000.0,22000.0,25000.0,26.0,13.0,10.0,15.0
1,"Abe Steak, Cibubur",jakarta,Aneka nasi/Minuman/Barat,"[70000.0, 33000.0, 105000.0, 100000.0, 90000.0...",18000.0,25000.0,33000.0,17.0,14.0,10.0,13.0
2,"Abuba Steak, Cikarang",jakarta,Barat,"[13200.0, 35200.0, 35200.0, 49500.0, 39600.0, ...",28600.0,44000.0,82500.0,29.0,21.0,24.0,25.0
3,Aneka Gorengan Siaga,jakarta,Jajanan/Minuman,"[1500.0, 1500.0, 1500.0, 1500.0, 1500.0, 1500....",1500.0,5000.0,5000.0,12.0,16.0,0.0,8.0
4,Arangsimpur,jakarta,Chinese,"[34000.0, 39000.0, 48000.0, 48000.0, 6000.0, 2...",30250.0,36500.0,45750.0,2.0,1.0,1.0,2.0

### Kategori Harga

Katgeori harga berdasarkan quartil terbanyak

In [12]:
df_jakarta_quartilize['target_price'] = df_jakarta_quartilize[['Q1_count', 'Q2_count', 'Q3_count', 'Q4_count']].idxmax(axis=1)
df_jakarta_quartilize['target_price'] = df_jakarta_quartilize['target_price'].str.replace('_count', '')
df_jakarta_quartilize.head()

,merchant_name,merchant_area,category,price,Q1,Q2,Q3,Q1_count,Q2_count,Q3_count,Q4_count,target_price
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,"[20000.0, 22000.0, 20000.0, 20000.0, 22000.0, ...",20000.0,22000.0,25000.0,26.0,13.0,10.0,15.0,Q1
1,"Abe Steak, Cibubur",jakarta,Aneka nasi/Minuman/Barat,"[70000.0, 33000.0, 105000.0, 100000.0, 90000.0...",18000.0,25000.0,33000.0,17.0,14.0,10.0,13.0,Q1
2,"Abuba Steak, Cikarang",jakarta,Barat,"[13200.0, 35200.0, 35200.0, 49500.0, 39600.0, ...",28600.0,44000.0,82500.0,29.0,21.0,24.0,25.0,Q1
3,Aneka Gorengan Siaga,jakarta,Jajanan/Minuman,"[1500.0, 1500.0, 1500.0, 1500.0, 1500.0, 1500....",1500.0,5000.0,5000.0,12.0,16.0,0.0,8.0,Q2
4,Arangsimpur,jakarta,Chinese,"[34000.0, 39000.0, 48000.0, 48000.0, 6000.0, 2...",30250.0,36500.0,45750.0,2.0,1.0,1.0,2.0,Q1

In [13]:
def calculate_most(row):
    if row['Q1_count'] >= row['Q2_count'] and row['Q1_count'] >= row['Q3_count']:
        return row['Q1']/1000
    elif row['Q2_count'] >= row['Q1_count'] and row['Q2_count'] >= row['Q3_count']:
        return row['Q2']/1000
    else:
        return row['Q3']/1000

df_jakarta_quartilize['target_price'] = df_jakarta_quartilize.apply(calculate_most, axis=1)
df_jakarta_quartilize.head()

,merchant_name,merchant_area,category,price,Q1,Q2,Q3,Q1_count,Q2_count,Q3_count,Q4_count,target_price
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,"[20000.0, 22000.0, 20000.0, 20000.0, 22000.0, ...",20000.0,22000.0,25000.0,26.0,13.0,10.0,15.0,20.00
1,"Abe Steak, Cibubur",jakarta,Aneka nasi/Minuman/Barat,"[70000.0, 33000.0, 105000.0, 100000.0, 90000.0...",18000.0,25000.0,33000.0,17.0,14.0,10.0,13.0,18.00
2,"Abuba Steak, Cikarang",jakarta,Barat,"[13200.0, 35200.0, 35200.0, 49500.0, 39600.0, ...",28600.0,44000.0,82500.0,29.0,21.0,24.0,25.0,28.60
3,Aneka Gorengan Siaga,jakarta,Jajanan/Minuman,"[1500.0, 1500.0, 1500.0, 1500.0, 1500.0, 1500....",1500.0,5000.0,5000.0,12.0,16.0,0.0,8.0,5.00
4,Arangsimpur,jakarta,Chinese,"[34000.0, 39000.0, 48000.0, 48000.0, 6000.0, 2...",30250.0,36500.0,45750.0,2.0,1.0,1.0,2.0,30.25

In [14]:
def categorize_price(most):
    if 0 <= most <= 18:
        return '1'
    elif 18000 < most <= 30:
        return '2'
    elif most > 30:
        return '3'
    else:
        return '0'  

df_jakarta_quartilize['price_category'] = df_jakarta_quartilize['target_price'].apply(categorize_price)
df_jakarta_quartilize.head()

,merchant_name,merchant_area,category,price,Q1,Q2,Q3,Q1_count,Q2_count,Q3_count,Q4_count,target_price,price_category
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,"[20000.0, 22000.0, 20000.0, 20000.0, 22000.0, ...",20000.0,22000.0,25000.0,26.0,13.0,10.0,15.0,20.00,0
1,"Abe Steak, Cibubur",jakarta,Aneka nasi/Minuman/Barat,"[70000.0, 33000.0, 105000.0, 100000.0, 90000.0...",18000.0,25000.0,33000.0,17.0,14.0,10.0,13.0,18.00,1
2,"Abuba Steak, Cikarang",jakarta,Barat,"[13200.0, 35200.0, 35200.0, 49500.0, 39600.0, ...",28600.0,44000.0,82500.0,29.0,21.0,24.0,25.0,28.60,0
3,Aneka Gorengan Siaga,jakarta,Jajanan/Minuman,"[1500.0, 1500.0, 1500.0, 1500.0, 1500.0, 1500....",1500.0,5000.0,5000.0,12.0,16.0,0.0,8.0,5.00,1
4,Arangsimpur,jakarta,Chinese,"[34000.0, 39000.0, 48000.0, 48000.0, 6000.0, 2...",30250.0,36500.0,45750.0,2.0,1.0,1.0,2.0,30.25,3

### Price Min and Max

Normalisasi dengan dibagi 1000

In [15]:
df_jakarta_quartilize['price'] = df_jakarta_quartilize['price'].apply(lambda x: [i / 1000 for i in x])
df_jakarta_quartilize['price_min'] = df_jakarta_quartilize['price'].apply(lambda x: min(x))
df_jakarta_quartilize['price_max'] = df_jakarta_quartilize['price'].apply(lambda x: max(x))
df_jakarta_quartilize.head()

,merchant_name,merchant_area,category,price,Q1,Q2,Q3,Q1_count,Q2_count,Q3_count,Q4_count,target_price,price_category,price_min,price_max
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,"[20.0, 22.0, 20.0, 20.0, 22.0, 22.0, 15.0, 18....",20000.0,22000.0,25000.0,26.0,13.0,10.0,15.0,20.00,0,15.0,37.0
1,"Abe Steak, Cibubur",jakarta,Aneka nasi/Minuman/Barat,"[70.0, 33.0, 105.0, 100.0, 90.0, 165.0, 20.0, ...",18000.0,25000.0,33000.0,17.0,14.0,10.0,13.0,18.00,1,5.0,165.0
2,"Abuba Steak, Cikarang",jakarta,Barat,"[13.2, 35.2, 35.2, 49.5, 39.6, 44.0, 28.6, 28....",28600.0,44000.0,82500.0,29.0,21.0,24.0,25.0,28.60,0,13.2,352.0
3,Aneka Gorengan Siaga,jakarta,Jajanan/Minuman,"[1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2.0, 1.5, 1.5, ...",1500.0,5000.0,5000.0,12.0,16.0,0.0,8.0,5.00,1,1.5,20.0
4,Arangsimpur,jakarta,Chinese,"[34.0, 39.0, 48.0, 48.0, 6.0, 29.0]",30250.0,36500.0,45750.0,2.0,1.0,1.0,2.0,30.25,3,6.0,48.0

### Celaning data tidak diperlukan

In [16]:
df_jakarta_quartilize = df_jakarta_quartilize.drop(['Q1', 'Q2', 'Q3', 'Q1_count', 'Q2_count', 'Q3_count', 'Q4_count'], axis="columns")
df_jakarta_quartilize.head()

,merchant_name,merchant_area,category,price,target_price,price_category,price_min,price_max
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,"[20.0, 22.0, 20.0, 20.0, 22.0, 22.0, 15.0, 18....",20.00,0,15.0,37.0
1,"Abe Steak, Cibubur",jakarta,Aneka nasi/Minuman/Barat,"[70.0, 33.0, 105.0, 100.0, 90.0, 165.0, 20.0, ...",18.00,1,5.0,165.0
2,"Abuba Steak, Cikarang",jakarta,Barat,"[13.2, 35.2, 35.2, 49.5, 39.6, 44.0, 28.6, 28....",28.60,0,13.2,352.0
3,Aneka Gorengan Siaga,jakarta,Jajanan/Minuman,"[1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2.0, 1.5, 1.5, ...",5.00,1,1.5,20.0
4,Arangsimpur,jakarta,Chinese,"[34.0, 39.0, 48.0, 48.0, 6.0, 29.0]",30.25,3,6.0,48.0

# 2. Penambahan Koordinat

### Penggabungan Merchant Name dan Merchant Area

In [17]:
def combine_columns(row):
    merchant_name = row['merchant_name']
    merchant_area = row['merchant_area'].capitalize()
    return f"{merchant_name}, {merchant_area}"
df_jakarta_coor = df_jakarta_quartilize
df_jakarta_coor['alamat'] = df_jakarta_coor.apply(combine_columns, axis=1)
df_jakarta_coor.head()

,merchant_name,merchant_area,category,price,target_price,price_category,price_min,price_max,alamat
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,"[20.0, 22.0, 20.0, 20.0, 22.0, 22.0, 15.0, 18....",20.00,0,15.0,37.0,"330 Kopi, Ciledug, Jakarta"
1,"Abe Steak, Cibubur",jakarta,Aneka nasi/Minuman/Barat,"[70.0, 33.0, 105.0, 100.0, 90.0, 165.0, 20.0, ...",18.00,1,5.0,165.0,"Abe Steak, Cibubur, Jakarta"
2,"Abuba Steak, Cikarang",jakarta,Barat,"[13.2, 35.2, 35.2, 49.5, 39.6, 44.0, 28.6, 28....",28.60,0,13.2,352.0,"Abuba Steak, Cikarang, Jakarta"
3,Aneka Gorengan Siaga,jakarta,Jajanan/Minuman,"[1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2.0, 1.5, 1.5, ...",5.00,1,1.5,20.0,"Aneka Gorengan Siaga, Jakarta"
4,Arangsimpur,jakarta,Chinese,"[34.0, 39.0, 48.0, 48.0, 6.0, 29.0]",30.25,3,6.0,48.0,"Arangsimpur, Jakarta"

### Penambahan Coordinate dengan Google Maps

In [18]:
# Masukkan API OpenCage kalian di sini (Google Cloud Google Maps API for JS)
gmaps = googlemaps.Client(key='AIzaSyDSCnOXFsAjV7v-JuC5c2IGbU9ZXuJpn1A')

In [19]:
def search_place(place_name):
    # Melakukan permintaan ke Google Maps API
    geocode_result = gmaps.geocode(place_name)

    if geocode_result:
        location = geocode_result[0]['geometry']['location']
        lat = location['lat']
        lng = location['lng']
        address = geocode_result[0]['formatted_address']
        encoded_place_name = urllib.parse.quote(place_name)
        link = f"https://www.google.com/maps/search/?api=1&query={encoded_place_name}"
        return lat, lng, link
    else:
        print("Lokasi tidak ditemukan.")
        return None, None

df_jakarta_coor['lat'], df_jakarta_coor['lng'], df_jakarta_coor['link'] = zip(*df_jakarta_coor['alamat'].apply(lambda x: search_place(x)))

In [20]:
df_jakarta_coor.head(10)

,merchant_name,merchant_area,category,price,target_price,price_category,price_min,price_max,alamat,lat,lng,link
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,"[20.0, 22.0, 20.0, 20.0, 22.0, 22.0, 15.0, 18....",20.00,0,15.0,37.0,"330 Kopi, Ciledug, Jakarta",-6.238135,106.716900,https://www.google.com/maps/search/?api=1&quer...
1,"Abe Steak, Cibubur",jakarta,Aneka nasi/Minuman/Barat,"[70.0, 33.0, 105.0, 100.0, 90.0, 165.0, 20.0, ...",18.00,1,5.0,165.0,"Abe Steak, Cibubur, Jakarta",-6.356087,106.879792,https://www.google.com/maps/search/?api=1&quer...
2,"Abuba Steak, Cikarang",jakarta,Barat,"[13.2, 35.2, 35.2, 49.5, 39.6, 44.0, 28.6, 28....",28.60,0,13.2,352.0,"Abuba Steak, Cikarang, Jakarta",-6.194449,106.822920,https://www.google.com/maps/search/?api=1&quer...
3,Aneka Gorengan Siaga,jakarta,Jajanan/Minuman,"[1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2.0, 1.5, 1.5, ...",5.00,1,1.5,20.0,"Aneka Gorengan Siaga, Jakarta",-6.274045,106.839772,https://www.google.com/maps/search/?api=1&quer...
4,Arangsimpur,jakarta,Chinese,"[34.0, 39.0, 48.0, 48.0, 6.0, 29.0]",30.25,3,6.0,48.0,"Arangsimpur, Jakarta",-6.240159,106.651125,https://www.google.com/maps/search/?api=1&quer...
5,Ayam Trolok,jakarta,Aneka nasi/Ayam & bebek/Seafood,"[100.0, 6.0, 25.0, 25.0, 6.0, 6.0, 6.0, 7.5, 1...",6.00,1,4.0,100.0,"Ayam Trolok, Jakarta",-6.194449,106.822920,https://www.google.com/maps/search/?api=1&quer...
6,BABAKARAN BUNDA DAFA,jakarta,Minuman/Jajanan/Martabak,"[6.0, 20.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0...",15.00,1,6.0,25.0,"BABAKARAN BUNDA DAFA, Jakarta",-6.140373,106.832440,https://www.google.com/maps/search/?api=1&quer...
7,"Bakerman, SCBD",jakarta,Roti/Minuman/Jajanan,"[626.2, 246.7, 35.4, 48.1, 48.1, 82.225, 50.6,...",69.60,3,12.7,626.2,"Bakerman, SCBD, Jakarta",-6.228628,106.806919,https://www.google.com/maps/search/?api=1&quer...
8,Bakmi Kun,jakarta,Ayam & bebek/Bakmie/Cepat saji,"[49.0, 42.0, 42.0, 42.0, 42.0, 35.0, 65.0, 65....",27.50,0,8.0,300.0,"Bakmi Kun, Jakarta",-6.270742,106.812494,https://www.google.com/maps/search/?api=1&quer...
9,Bakmi Lopui 93,jakarta,Bakmie/Chinese/Minuman,"[25.0, 30.0, 25.0, 30.0, 30.0, 25.0, 30.0, 30....",30.00,0,15.0,30.0,"Bakmi Lopui 93, Jakarta",-6.152886,106.813341,https://www.google.com/maps/search/?api=1&quer...

In [21]:
df_jakarta_coor = df_jakarta_coor.drop(['merchant_area'], axis="columns")
df_jakarta_coor.head()

,merchant_name,category,price,target_price,price_category,price_min,price_max,alamat,lat,lng,link
0,"330 Kopi, Ciledug",Kopi/Minuman/Roti,"[20.0, 22.0, 20.0, 20.0, 22.0, 22.0, 15.0, 18....",20.00,0,15.0,37.0,"330 Kopi, Ciledug, Jakarta",-6.238135,106.716900,https://www.google.com/maps/search/?api=1&quer...
1,"Abe Steak, Cibubur",Aneka nasi/Minuman/Barat,"[70.0, 33.0, 105.0, 100.0, 90.0, 165.0, 20.0, ...",18.00,1,5.0,165.0,"Abe Steak, Cibubur, Jakarta",-6.356087,106.879792,https://www.google.com/maps/search/?api=1&quer...
2,"Abuba Steak, Cikarang",Barat,"[13.2, 35.2, 35.2, 49.5, 39.6, 44.0, 28.6, 28....",28.60,0,13.2,352.0,"Abuba Steak, Cikarang, Jakarta",-6.194449,106.822920,https://www.google.com/maps/search/?api=1&quer...
3,Aneka Gorengan Siaga,Jajanan/Minuman,"[1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2.0, 1.5, 1.5, ...",5.00,1,1.5,20.0,"Aneka Gorengan Siaga, Jakarta",-6.274045,106.839772,https://www.google.com/maps/search/?api=1&quer...
4,Arangsimpur,Chinese,"[34.0, 39.0, 48.0, 48.0, 6.0, 29.0]",30.25,3,6.0,48.0,"Arangsimpur, Jakarta",-6.240159,106.651125,https://www.google.com/maps/search/?api=1&quer...

### Kategori makanan menjadi kode kategori

In [22]:
df_temp = None
df_temp = df_jakarta_coor
df_temp.head()

,merchant_name,category,price,target_price,price_category,price_min,price_max,alamat,lat,lng,link
0,"330 Kopi, Ciledug",Kopi/Minuman/Roti,"[20.0, 22.0, 20.0, 20.0, 22.0, 22.0, 15.0, 18....",20.00,0,15.0,37.0,"330 Kopi, Ciledug, Jakarta",-6.238135,106.716900,https://www.google.com/maps/search/?api=1&quer...
1,"Abe Steak, Cibubur",Aneka nasi/Minuman/Barat,"[70.0, 33.0, 105.0, 100.0, 90.0, 165.0, 20.0, ...",18.00,1,5.0,165.0,"Abe Steak, Cibubur, Jakarta",-6.356087,106.879792,https://www.google.com/maps/search/?api=1&quer...
2,"Abuba Steak, Cikarang",Barat,"[13.2, 35.2, 35.2, 49.5, 39.6, 44.0, 28.6, 28....",28.60,0,13.2,352.0,"Abuba Steak, Cikarang, Jakarta",-6.194449,106.822920,https://www.google.com/maps/search/?api=1&quer...
3,Aneka Gorengan Siaga,Jajanan/Minuman,"[1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2.0, 1.5, 1.5, ...",5.00,1,1.5,20.0,"Aneka Gorengan Siaga, Jakarta",-6.274045,106.839772,https://www.google.com/maps/search/?api=1&quer...
4,Arangsimpur,Chinese,"[34.0, 39.0, 48.0, 48.0, 6.0, 29.0]",30.25,3,6.0,48.0,"Arangsimpur, Jakarta",-6.240159,106.651125,https://www.google.com/maps/search/?api=1&quer...

In [23]:
all_cat = sum(df_temp['category'].str.split('/').tolist(), [])
unique_cat = sorted(set(all_cat))
cat_to_code = {cat: code for code, cat in enumerate(unique_cat, 1)}
def split_and_encode(cat):
    cat_list = cat.split('/')
    encoded_list = [cat_to_code[cat] for cat in cat_list]
    return encoded_list
df_temp['category'] = df_temp['category'].apply(split_and_encode)
df_temp.head()

,merchant_name,category,price,target_price,price_category,price_min,price_max,alamat,lat,lng,link
0,"330 Kopi, Ciledug","[11, 14, 16]","[20.0, 22.0, 20.0, 20.0, 22.0, 22.0, 15.0, 18....",20.00,0,15.0,37.0,"330 Kopi, Ciledug, Jakarta",-6.238135,106.716900,https://www.google.com/maps/search/?api=1&quer...
1,"Abe Steak, Cibubur","[1, 14, 5]","[70.0, 33.0, 105.0, 100.0, 90.0, 165.0, 20.0, ...",18.00,1,5.0,165.0,"Abe Steak, Cibubur, Jakarta",-6.356087,106.879792,https://www.google.com/maps/search/?api=1&quer...
2,"Abuba Steak, Cikarang",[5],"[13.2, 35.2, 35.2, 49.5, 39.6, 44.0, 28.6, 28....",28.60,0,13.2,352.0,"Abuba Steak, Cikarang, Jakarta",-6.194449,106.822920,https://www.google.com/maps/search/?api=1&quer...
3,Aneka Gorengan Siaga,"[9, 14]","[1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2.0, 1.5, 1.5, ...",5.00,1,1.5,20.0,"Aneka Gorengan Siaga, Jakarta",-6.274045,106.839772,https://www.google.com/maps/search/?api=1&quer...
4,Arangsimpur,[7],"[34.0, 39.0, 48.0, 48.0, 6.0, 29.0]",30.25,3,6.0,48.0,"Arangsimpur, Jakarta",-6.240159,106.651125,https://www.google.com/maps/search/?api=1&quer...

In [24]:
print(f"Unique categories: {cat_to_code}")

Unique categories: {'Aneka nasi': 1, 'Ayam & bebek': 2, 'Bakmie': 3, 'Bakso & soto': 4, 'Barat': 5, 'Cepat saji': 6, 'Chinese': 7, 'India': 8, 'Jajanan': 9, 'Jepang': 10, 'Kopi': 11, 'Korea': 12, 'Martabak': 13, 'Minuman': 14, 'Pizza & pasta': 15, 'Roti': 16, 'Sate': 17, 'Seafood': 18, 'Sweets': 19, 'Timur Tengah': 20}

In [25]:
df_jakarta_coor = df_temp
print(f"Unique categories: {cat_to_code}")
df_jakarta_coor.head()

Unique categories: {'Aneka nasi': 1, 'Ayam & bebek': 2, 'Bakmie': 3, 'Bakso & soto': 4, 'Barat': 5, 'Cepat saji': 6, 'Chinese': 7, 'India': 8, 'Jajanan': 9, 'Jepang': 10, 'Kopi': 11, 'Korea': 12, 'Martabak': 13, 'Minuman': 14, 'Pizza & pasta': 15, 'Roti': 16, 'Sate': 17, 'Seafood': 18, 'Sweets': 19, 'Timur Tengah': 20}

,merchant_name,category,price,target_price,price_category,price_min,price_max,alamat,lat,lng,link
0,"330 Kopi, Ciledug","[11, 14, 16]","[20.0, 22.0, 20.0, 20.0, 22.0, 22.0, 15.0, 18....",20.00,0,15.0,37.0,"330 Kopi, Ciledug, Jakarta",-6.238135,106.716900,https://www.google.com/maps/search/?api=1&quer...
1,"Abe Steak, Cibubur","[1, 14, 5]","[70.0, 33.0, 105.0, 100.0, 90.0, 165.0, 20.0, ...",18.00,1,5.0,165.0,"Abe Steak, Cibubur, Jakarta",-6.356087,106.879792,https://www.google.com/maps/search/?api=1&quer...
2,"Abuba Steak, Cikarang",[5],"[13.2, 35.2, 35.2, 49.5, 39.6, 44.0, 28.6, 28....",28.60,0,13.2,352.0,"Abuba Steak, Cikarang, Jakarta",-6.194449,106.822920,https://www.google.com/maps/search/?api=1&quer...
3,Aneka Gorengan Siaga,"[9, 14]","[1.5, 1.5, 1.5, 1.5, 1.5, 1.5, 2.0, 1.5, 1.5, ...",5.00,1,1.5,20.0,"Aneka Gorengan Siaga, Jakarta",-6.274045,106.839772,https://www.google.com/maps/search/?api=1&quer...
4,Arangsimpur,[7],"[34.0, 39.0, 48.0, 48.0, 6.0, 29.0]",30.25,3,6.0,48.0,"Arangsimpur, Jakarta",-6.240159,106.651125,https://www.google.com/maps/search/?api=1&quer...

### Temp